/libraries/
/assets/
/logs/
/xaero/
/saves/
/tlauncher_profiles.json
/usercache.json
/usernamecache.json
/launcher_profiles.json
/.curseclient
/backups/
/versions/forge-47.2.6/natives/
/versions/Forge 1.20.1/natives/
/crash-reports/
/fancymenu_data/
/ldlib/
/XaeroWaypoints_*/
/emi.json
/servers.dat.bak
/servers.dat_old
/modernfix/
/options.txt